* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: #f24f04;
    --text-color: #252429;
    --bg-color: #fffefb;
    --rr-color: #ffa50a;    
    --other-color: #95949a;
    --bb-color: #fff2de;
    --team-bg: #fff;
    --bgcart-color: #f8f8f8;
    --th-color: #eee;
    --close-color: hsl(19, 75%, 15%);

    --big-font: 3.4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 0.4rem 30rem rgba(0, 0, 0, 0.1);
    padding: 5px 3%;
    transition: all ease .52s;
}
.navbar {
    display: flex;
    display: -webkit-flex;
}
.navbar li {
    position: relative;
    margin: 0px 15px;
    padding: 5px 5px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all ease .50s;
}
.navbar li::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: var(--main-color);
    transition: all ease .50s;
}
.navbar li:hover::after {
    width: 40%;
}
.navbar li:hover {
    color: var(--main-color);
}
.navbar li.active {
    color: var(--main-color);
}
.navbar li.active::after {
    width: 1.7rem;
}
.header-icons {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.header-icons i {
    vertical-align: middle;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 20px;
    transition: all ease .50s;
    cursor: pointer;
}
.header-icons i:not(.bxs-cart):hover {
    transform: scale(1.1) translateX(-5px);
    color: var(--main-color);
}
#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}
.cart-icon-container {
    position: relative;
    display: inline-block;
}
#total {
    position: absolute;
    top: -0.27rem;
    right: -0.4rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 0.35rem;
    font-size: 0.67rem;
}
  
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: .4rem;
    z-index: 10;
    transition: .6s;
    visibility: hidden;
  }
  
.scrolltop:hover{
    transform: translateY(-5px);
    background: var(--bb-color);
    color: var(--text-color);
}
  
.scrolltop-icon{
    font-size: 1rem;
}

.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/* ****************************************************** */

input,
button {
  border: none;
  outline: none;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: hsl(19, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
  overflow: auto;
}

.search-close,
.login-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--close-color);
  cursor: pointer;
}

.nav-search, 
.nav-login, 
.nav-toggle, 
.nav-close {
  font-size: 1.25rem;
  color: hsl(19, 75%, 15%);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav-logo, .nav-search, .nav-login, .nav-toggle, .nav-link):hover {
  color: var(--main-color);
}

/*=============== SEARCH ===============*/
.search-form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: hsl(8, 100%, 97%);
  box-shadow: 0 8px 32px hsla(19, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search-icon {
  font-size: 1.25rem;
  color: hsl(19, 75%, 15%);
}

.search-input {
  width: 100%;
  padding-block: 1rem;
  background-color: hsl(8, 100%, 97%);
  color: hsl(19, 12%, 40%);
}

.search-input::placeholder {
  color: hsl(19, 12%, 40%);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search-form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login-form, 
.login-group {
  display: grid;
}

.login-form {
  background-color: hsl(19, 100%, 97%);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(19, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login-title {
  font-size: 1.25rem;
  color: hsl(19, 75%, 15%);
}

.login-group {
  row-gap: 1rem;
}

.login-label {
  display: block;
  text-align: initial;
  color: hsl(19, 75%, 15%);
  font-weight: 500;
  margin-bottom: .25rem;
}

.login-input {
  width: 100%;
  background-color: hsl(19, 100%, 97%);
  border: 2px solid hsl(19, 25%, 80%);
  padding: 1rem;
  border-radius: .5rem;
  color: hsl(19, 12%, 40%);
}

.login-input::placeholder {
  color: hsl(19, 12%, 40%);
}

.login-signup {
  margin-bottom: .5rem;
}

.login-signup a {
  color: hsl(19, 75%, 56%);
}

.login-forgot {
  display: inline-block;
  color: hsl(19, 75%, 56%);
  margin-bottom: 1.25rem;
}

.login-button {
  display: inline-block;
  background-color: hsl(19, 75%, 56%);
  width: 100%;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login-button:hover {
  box-shadow: 0 4px 24px hsla(19, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login-form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search-form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search-close,
  .login-close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login-form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .login-form {
    padding: 3rem 2rem 3.5rem;
  }
}
  /* ************************************************************ */

.category { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    padding: 50px 10% 65px;
}
.categories-h2 {
    margin-top: 5rem;
    text-align: center;
}
.categories-h2::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 520px;
    width: 8%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: var(--main-color);
}
.category-container {
    width: 200px;
    margin-top: 1.1rem;
}
.category-img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
}
.category-container h3 {
    color: var(--main-color);
}
section {
    padding: 85px 10% 65px;  
}
.home {
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.home-img img {
    height: auto;
    width: 100%;
}
.home-text h1 {
    font-size: var(--big-font);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
}
.home-text p {
    max-width: 370px;
    font-weight: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
    margin-bottom: 3rem;
}
.home-btnn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn {
    display: inline-block;
    padding: 12px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: bold;
    border-radius: 0.7rem;
    transition: all ease .50s;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1) translateX(-5px);
}
.btn2 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}
.btn2 span i {
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all ease .50s;
}
.btn2 span i:hover {
    transform: scale(1.1) translateX(-5px);
}
.center-text {
    text-align: center;
}
.center-text strong {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}
.center-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: var(--h2-font);
    font-weight: 900;
}
.categories-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
.box {
    padding: 50px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-img {
    width: 200px;
    height: 200px;
}
.box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
}
.box h3 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}
.box p {
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
}
.history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.history-img img {
    height: auto;
    width: 100%;
}
.history-text strong {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color)
}
.history-text h2 {
    font-size: var(--h2-font);
    font-weight: 900;
    line-height: 1.2;
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
}
.history-text p {
    max-width: 450px;
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
    margin-bottom: 2rem;
}
.center-text strong {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}
.center-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: var(--h2-font);
    font-weight: 900;
}
.services-container{
    display: grid;
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 5rem;
}
.services-content{
    text-align: center;
}
.services-img{
    width: 64px;
    height: 64px;
    fill: var(--main-color);
    margin-bottom: 1rem;
}
.services-title{
    font-size: 1rem;
    color: var(--text-color); /* title-color */
    margin-bottom: 0.5rem;
}

.services-description{
    padding: 0 1.5rem;
    color: var(--other-color);
}
.menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}
.row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
    border-radius: 0.7rem;
    padding: 20px 6px;
    cursor: pointer;
    transition: all ease .50s;
    margin: 10px; /* Add some margin between each row */
}

.row-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    text-align: center;
}

.row-img img {
    width: 250px;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
}
.row-img input {
    outline: none;
    border: none;
    padding: 5px 6px;
    width: 80%;
    background: var(--bb-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: var(--p-font);
}
.row h6 {
    font-size: 15px;
    font-weight: 800;
    color: var(--main-color);
    margin: 10px 0;
}

.row h5 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 900;
    margin-top: 0.6rem;
}

.ratings i {
    font-size: 1rem;
    color: var(--rr-color);
    margin: 0 2px;
}

.row:hover {
    transform: translateX(-8px);
}
.menu-btnn {
    text-align: center;
    margin-top: 3rem;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: start;
    padding: 0 5.5% 65px;
}
.products h2 {
    margin-top: 5rem;
    text-align: center;
}
.products h2::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 520px;
    width: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: var(--main-color);
}
.products h3 {
    margin: 1rem 0 0 2rem;
    color: var(--main-color);
    font-size: 1.35rem;
}
.team-heading {
    text-align: center;
}
.team-heading h3 {
    margin-top: 5rem;
    font-weight: 400;
    color: var(--main-color);
}
.team-heading h2 {
    font-size: 2rem;
}
.team {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: start;
    padding: 1rem 5.5% 65px;
}

.team .team-item {
    position: relative;
    margin: 15px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.team .team-img {
    position: relative;
    height: 390px;
}

.team .team-img img {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    transform: scale(1.1);
    transition: .3s;
    object-fit: cover;
}

.team .team-item:hover img {
    margin-top: 0;
    margin-bottom: 15px;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team .team-social a {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    background: var(--main-color);
    opacity: 0;
    transition: all ease .50s;
}

.team .team-social a:hover {
    transform: translateY(-5px);
    background: var(--bb-color);
    color: var(--text-color);
}
.team .team-item:hover .team-social {
    background: rgba(256, 256, 256, .5);
}

.team .team-item:hover .team-social a:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: var(--team-bg);
    border: 1px solid rgba(0, 0, 0, .07);
    border-top: none;
    border-radius: 0 0 15px 15px;
    color: var(--main-color);
}

.team .team-text h2 {
    font-size: 22px;
    font-weight: 700;
}

.team .team-text p {
    margin: 0;
    font-size: 16px;
    
}
.testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.testimonial-left strong {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}
.testimonial-left h2 {
    font-size: var(--h2-font);
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}
.testimonial-img img {
    width: 100%;
    max-width: 130px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}
.testimonial-right h4 {
    font-size: 22x;
    font-weight: 900;
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;
}
.testimonial-right h6 {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}
.testimonial-right p {
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
}
.newsletter {
    display: grid;
    justify-content: center;
}
.newsletter form{
    display: flex;
    display: -webkit-flex;
    margin-top: 2.5rem;
    padding: 10px 20px;
    background: var(--bb-color);
    box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
    border-radius: 0.5rem;
}
.newsletter form .email {
    width: 250px;
    max-width: 100%;
}
.newsletter form input {
    outline: none;
    border: none;
    background: none;
    color: var(--text-color);
    font-size: var(--p-font);
}
.newsletter form .btn {
    background: var(--main-color);
    color: var(--bg-color);
}
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
}
.contact-box .logo img {
    width: 140px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.1rem;
}

.icons i {
    height: 35px;
    width: 35px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 18px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all ease .50s;
}
.icons i:hover {
    transform: translateY(-5px);
    background: var(--bb-color);
    color: var(--text-color);
}
.contact-box h3 {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}
.contact-box li {
    margin-bottom: 13px;
}
.contact-box li a {
    display: block;
    color: var(--other-color);
    font-size: var(--p-font);
    transition: all ease .50s;
}
.contact-box li a:hover {
    transform: translateY(-5px);
    color: var(--main-color);
}
.copyright p {
    text-align: center;
    padding: 18px;
    background: var(--bb-color);
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
    letter-spacing: 1px;
}
.heart {
    color: red;
    font-size: 1.3rem;
}

@media (max-width: 1220px) {
    :root {
        --big-font: 2.5rem;
        --h2-font: 2rem;
        --p-font: 1rem;
    }
    .home {
        height: 100vh;
    }
    section {
        padding: 30px 4% 20px;
    }
    .home-text h1 {
        margin-bottom: 1rem;
    }
    .home-text p {
        margin-bottom: 1.2rem;
    }
    .categories-content {
        gap: 20px;
    }
    .box {
        padding: 10px;
    }
}

@media (max-width: 1103px) {
    #menu-icon {
        display: block;
    }
    section {
        padding: 80px 4% 20px;
    }
    .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        text-align: center;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: all ease .50ss;
    }
    .navbar a {
        display: block;
        font-size: 24px;
        font-weight: 600;
        margin: 5px 30px;
        padding: 10px;
    }
    .navbar a::after {
        display: none;
    }
    .navbar.open {
        top: 100%;
    }
}

@media (max-width: 969px) {
    :root {
        --big-font: 2.5rem;
        --h2-font: 1.8rem;
        --p-font: 1rem;
    }
    .home {
        height: 70vh;
    }
    section {
        padding: 65px 4% 55px;
    }
}

@media (max-width: 840px) {
    .home {
        height: 140vh;
        grid-template-columns: 1fr;
    }
    .home-text {
        order: 2;
    }
    .home-img {
        text-align: center;
        padding-top: 30px;
    }
    .home-img img {
        width: 430px;
        max-width: 100%;
    }
    .home-text p {
        max-width: 600px;
    }
}

@media (max-width: 690px) {
    .history {
        grid-template-columns: 1fr;
    }
    .history-img {
        text-align: center;
        padding-top: 10px;
    }
    .history-img img {
        width: 370px;
        max-width: 100%;
        height: auto;
    }
    .testimonial {
        grid-template-columns: 1fr;
    }
    .testimonial-left {
        text-align: center;
    }
    .testimonial-right {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .newsletter form .email {
        width: 155px;
        max-width: 100%;
    }
    :root {
        --big-font: 2.5rem;
        --h2-font: 2rem;
        --p-font: 0.8rem;
    }
}
#darkmode {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}
body.dark {
    --text-color: #fff;
    --bg-color: #1f1f1f;
    --bb-color: #0e0e00;
    --input-color: white;
    --textContact-color: #fff;
    --team-bg: black;
    --contact-text-p: #ccc;
    --bgcart-color : #1f1f1f;
    --th-color: black;
    --close-color: #f8f8f8;
}